<html>
<head>
    <title>Orders</title>
</head>
<body>
    <h1>Orders Page</h1>
    <p>This is the Orders page that shows the Orders' date, total price and the Customer ID that is associated with the order.</p>
    <h2>Navigation</h2>
    <p>[ <a href="/">Homepage</a> | <a href="/orders">Orders</a> | <a href="/orderdetails">Order Details</a> ]</p>
    <table border="1" cellpadding="5"> 
            <caption> Editing Order Details: </caption>
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>
                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
    <p>&nbsp;</p>
    <div id="insert">
        <form method="POST" id="addOrder">
            <legend><strong>Add Order</strong></legend>
                <fieldset class="fields">
                    <label> Date </label><input type="date" name="Date">
                    <label> Customer ID </label><input type="number" name="CustomerID">
                </fieldset>
                    <input class="btn" type="submit" id="addCustomer" value="Add Order">
                    <input class="btn" type="button" value="cancel" onClick="browseOrders()">
            </form>
    </div>
    <p>&nbsp;</p>
</body>
</html>
