<html>
<head>
    <title>Team 6</title>
</head>
<body>
    <h1>Home Page</h1>
    <h2>The Book Club</h2>
    <h2>Patrick Kim & William Chen</h2>
    <h3>Navigation</h3>
    <p>[ <a href="/">Homepage</a> | 
    <a href="/books">Book Collection</a> | 
    <a href="/publishers">Publishers</a> | 
    <a href="/authors">Authors</a> | 
    <a href="/customers">Customers</a> | 
    <a href="/orders">Orders</a> | 
    <a href="/orderdetails">Orders Details</a> ]</p>
    <p>&nbsp;</p>
    <h2>CRUD implemented for Order Details - Step 4 Draft</h2>
</body>
</html>
