table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

tr, th, td{
    border: 1px solid black;  
    width: 20%;
    text-align: center;
}

input {
    padding: 0.5%;
    margin: 1%;
}

