<!-- Citation for the following: favicon -->
<!-- Date: 6.4.2024 -->
<!-- Downloaded from https://favicon.io/emoji-favicons/bookmark/ -->
<!-- Emoji is used for favicon, serves no purpose other than to look nice -->

<html lang="en">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<link rel="apple-touch-icon" sizes="180x180" href={{url_for('static',filename="apple-touch-icon.png")}}> 
<link rel="icon" type="favicon/png" sizes="512x512" href={{url_for('static', filename="android-chrome-512x512.png")}}> 
<link rel="icon" type="favicon/png" sizes="192x192" href={{url_for('static', filename="android-chrome-192x192.png")}}> 
<link rel="icon" type="favicon/png" sizes="32x32" href={{url_for('static', filename="favicon-32x32.png")}}> 
<link rel="icon" type="favicon/png" sizes="16x16" href={{url_for('static', filename="favicon-16x16.png")}}> 
<link rel="manifest" href="site.webmanifest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Book Collection
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
    <a href="/">Home Page</a> 
    <a href="/books">Books</a> 
    <a href="/publishers">Publishers</a> 
    <a href="/authors">Authors</a>  
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>  
    <a href="/orderdetails">Orders Details</a>
    </nav> 
    <main>
    <h1>Books Page</h1>
    {% if error %}
    <p>{{error}}<p>
    {% endif %}
    <p>This is the Books page that shows the books' ISBN, title, genre, stock, price, author's full name, and publisher</p>
        <table border="1" cellpadding="5"> 
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>
                </thead>
                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %}
                </tbody> 
            {% endif %} 
        </table>
        <p>&nbsp;</p>
        <form action="/create-book" method="POST" id="addBook">
            <legend><strong>Add New Book</strong></legend>
                <fieldset class="fields">
                    <label> Title: </label><input type="text" name="Title" required>
                    <br>
                    <label> Genre: </label><input type="text" name="Genre" required>
                    <br>
                    <label> Stock: </label><input type="number" name="Stock" required>
                    <br>
                    <label> Price: </label><input type="number" name="Price" required>
                    <label> Author Full Name: </label>
                    <select name="AID">
                        <option value="0">&nbsp;</option>
                        {% for item in aids %}
                        <option value={{item['ID']}}>{{item['Name']}}</option>
                        {% endfor %}
                    </select>
                    <label> Publishing Company: </label>
                    <select name="PID">
                        <option value="0">&nbsp;</option>
                        {% for item in pids %}
                        <option value={{item['ID']}}>{{item['Company']}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                    <input class="btn" type="submit" id="addBook" value="Add Book">
        </form>
    </main>
</body>
<footer>
    <p>
    &copy; William Chen and Patrick Kim 2024
    </p>
</footer>
</html>