<!-- Citation for the following: favicon -->
<!-- Date: 6.4.2024 -->
<!-- Downloaded from https://favicon.io/emoji-favicons/bookmark/ -->
<!-- Emoji is used for favicon, serves no purpose other than to look nice -->

<html>
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<link rel="apple-touch-icon" sizes="180x180" href={{url_for('static',filename="apple-touch-icon.png")}}> 
<link rel="icon" type="favicon/png" sizes="512x512" href={{url_for('static', filename="android-chrome-512x512.png")}}> 
<link rel="icon" type="favicon/png" sizes="192x192" href={{url_for('static', filename="android-chrome-192x192.png")}}> 
<link rel="icon" type="favicon/png" sizes="32x32" href={{url_for('static', filename="favicon-32x32.png")}}> 
<link rel="icon" type="favicon/png" sizes="16x16" href={{url_for('static', filename="favicon-16x16.png")}}> 
<link rel="manifest" href="site.webmanifest">
<head>
    <title>Customer Order Invoice</title>
</head>
<main>
    <h1>Navigation</h1>
    <nav>
    <a href="/">Homepage</a> 
    <a href="/books">Books</a> 
    <a href="/publishers">Publishers</a> 
    <a href="/authors">Authors</a>  
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>  
    <a href="/orderdetails">Orders Details</a>
    </nav>
    <body>
    <h1>Customer Invoice Page</h1>
    <p>This shows the Order Details and which customer it belongs to.</p>
    <h2>Navigation</h2>
    <p>[ <a href="/">Homepage</a> | <a href="/orders">Orders</a> | <a href="/orderdetails">Orders Details</a> ]</p>
    <div>
        <table border="1" cellpadding="5"> 
            <thead>
                <tr>
                    <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in headerdata[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
            <tbody>
                <!-- Now, iterate through every person in bsg_people -->
                {% for item in headerdata %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </table>
        <p>&nbsp;</p>
        <table border="1" cellpadding="5"> 
            <thead>
                <tr>
                    {% for key2 in bodydata[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key2 }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
            <tbody>
                <!-- Now, iterate through every person in bsg_people -->
                {% for item in bodydata %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</main>
<footer>
    <p>
    &copy; William Chen and Patrick Kim 2024
    </p>
</footer>
</html>