<html>
<head>
    <title>Customer Order Invoice</title>
</head>
<body>
    <h1>Customer Invoice Page</h1>
    <p>This shows the Order Details and which customer it belongs to.</p>
    <h2>Navigation</h2>
    <p>[ <a href="/">Homepage</a> | <a href="/orders">Orders</a> | <a href="/orderdetails">Orders Details</a> ]</p>
    <div>
        <table border="1" cellpadding="5"> 
            <thead>
                <tr>
                    <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in headerdata[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
            <tbody>
                <!-- Now, iterate through every person in bsg_people -->
                {% for item in headerdata %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </table>
        <p>&nbsp;</p>
        <table border="1" cellpadding="5"> 
            <thead>
                <tr>
                    {% for key2 in bodydata[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key2 }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
            <tbody>
                <!-- Now, iterate through every person in bsg_people -->
                {% for item in bodydata %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
    </div>
</body>
</html>