<!-- Citation for the following: favicon -->
<!-- Date: 6.4.2024 -->
<!-- Downloaded from https://favicon.io/emoji-favicons/bookmark/ -->
<!-- Emoji is used for favicon, serves no purpose other than to look nice -->
<html>
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<link rel="apple-touch-icon" sizes="180x180" href={{url_for('static',filename="apple-touch-icon.png")}}> 
<link rel="icon" type="favicon/png" sizes="512x512" href={{url_for('static', filename="android-chrome-512x512.png")}}> 
<link rel="icon" type="favicon/png" sizes="192x192" href={{url_for('static', filename="android-chrome-192x192.png")}}> 
<link rel="icon" type="favicon/png" sizes="32x32" href={{url_for('static', filename="favicon-32x32.png")}}> 
<link rel="icon" type="favicon/png" sizes="16x16" href={{url_for('static', filename="favicon-16x16.png")}}> 
<head>
    <title>Orders</title>
</head>
<body>
    <nav>
    <a href="/">Home Page</a> 
    <a href="/books">Books</a> 
    <a href="/publishers">Publishers</a> 
    <a href="/authors">Authors</a>  
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>  
    <a href="/orderdetails">Orders Details</a>
    </nav>
    <main>
    <body>
    <h1>Orders Page</h1>
    <p>This is the Orders page that shows the Orders' date, total price and the Customer ID that is associated with the order.</p>
    <table> 
        {% if data %}
            <thead>
                <td>
                    <strong>
                    Order ID
                    </strong
                </td>
                <td>
                    <strong>
                    Date
                    </strong
                </td>
                <td>
                    <strong>
                    Customer ID
                    </strong
                </td>
                <td>
                    <strong>
                    Customer Name
                    </strong
                </td>            
            <tbody>
                <!-- Now, iterate through every item in data -->
                {% for item in data %}
                <tr>
                    <!-- Then iterate through every key in the current item dictionary -->
                    {% for key in item.keys() %}
                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td> {% endfor %} 
                </tr> 
                {% endfor %} 
        {% endif %} 
        </table>
    <p>&nbsp;</p>
    <form method="POST">
        <legend><strong>Edit Order</strong></legend>
            <fieldset class="fields">
                {% if data %}
                <input type="hidden" value="{{data[0]['OrderID']}}" class="form-control" id="OrderID" name="OrderID" required>
                <label> Date </label><input type="date" name="Date" value = {{data[0]['Date(Orders.Date)']}} required>
                {% endif %}
                <label> Customer Name </label>
                    <select name="CID">
                    <option value="0">&nbsp;</option>
                    {% for item in customers %}
                        {% if item['ID'] == data[0]['CID'] %}
                            <option value="{{item['ID']}}" selected>{{item['Name']}}</option>
                        {% else %}
                            <option value="{{item['ID']}}">{{item['Name']}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                <input type="submit" value="Edit Orders" name="Edit_order" class="btn btn-primary">
        <a href='/orders'><input class="btn" type="button" value="Cancel"></a>
        </form>
    <p>&nbsp;</p>
    </main>
</body>
<footer>
    <p>
    &copy; William Chen and Patrick Kim 2024
    </p>
</footer>
</html>
