<html>
<head>
	<title>Edit Order Details</title>
</head>

<body>
    <h1>Order Details</h1>
    <h2>Navigation</h2>
    <p>[ <a href="/">Homepage</a> | <a href="/orders">Orders</a> | <a href="/orderdetails">Orders Details</a> ]</p>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Order Details: </caption>
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>
                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <form id="editOrderDetails" action="/edit_orderdetails/{{data[0].ID}}" method="post">
                <legend><strong>Edit Order Details</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].ID}}" class="form-control" id="orderDetailsID" name="orderDetailsID" required>
                    
                    <label for="make">Title:</label>
                    <select class="form-control" id="title" name="title" pattern="[0-4]{1}" placeholder="" required> 
                        <option value="0">&nbsp;</option>
                        {% for title in titles %}
                            {% if title.ISBN == data[0].BookISBN %}
                                <option value="{{ title.ISBN }}" selected>{{title.Title}}</option>
                            {% else %}
                                <option value="{{ title.ISBN }}">{{title.Title}}</option>
                            {% endif %}    
                        {% endfor %} 
                    </select>	                    
                    
                    <label for="model">Order ID:</label>
                    <input type="text" value="{{data[0].OID}}" class="form-control" id="OID" name="OID" pattern="[A-Za-z0-9]{1,}" required>
                    
                        
                    <label for="color">OrderQty:</label>
                    <input type="text" value="{{data[0].OrderQty}}" class="form-control" id="OrderQty" name="OrderQty" pattern="[A-Za-z0-9]{1,}"> 

                    <input type="hidden" value="{{data[0].UnitPrice}}" class="form-control" id="UnitPrice" name="UnitPrice" required>
                    <input type="hidden" value="{{data[0].LineTotal}}" class="form-control" id="LineTotal" name="LineTotal" required>
                
                </fieldset>
                <input type="submit" value="Edit Order Details" name="Edit_orderDetails" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orderdetails'><input class="btn" type="button" value="cancel"></a>
            </form>
        </div>
    </div>
</body>        
</html>