<!-- Citation for the following: favicon -->
<!-- Date: 6.4.2024 -->
<!-- Downloaded from https://favicon.io/emoji-favicons/bookmark/ -->
<!-- Emoji is used for favicon, serves no purpose other than to look nice -->
<html>
<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
<link rel="apple-touch-icon" sizes="180x180" href={{url_for('static',filename="apple-touch-icon.png")}}> 
<link rel="icon" type="favicon/png" sizes="512x512" href={{url_for('static', filename="android-chrome-512x512.png")}}> 
<link rel="icon" type="favicon/png" sizes="192x192" href={{url_for('static', filename="android-chrome-192x192.png")}}> 
<link rel="icon" type="favicon/png" sizes="32x32" href={{url_for('static', filename="favicon-32x32.png")}}> 
<link rel="icon" type="favicon/png" sizes="16x16" href={{url_for('static', filename="favicon-16x16.png")}}> 
<link rel="manifest" href="site.webmanifest">
<head>
    <title>Order Details</title>
</head>
<body>
    <nav>
    <a href="/">Home Page</a> 
    <a href="/books">Books</a> 
    <a href="/publishers">Publishers</a> 
    <a href="/authors">Authors</a>  
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>  
    <a href="/orderdetails">Orders Details</a>
    </nav>
    <main>
    <h1>Order Details Page</h1>
    <p>This is the Order Details Page It shows the details of an order including the book, order ID, order quantity, unit price, and line total.</p>
        <table>
            <thead>
            <tr>
                <!-- Iterate through each key in the first entry to get the
                column name -->
                {% for key in data[0].keys() %}

                <!-- Create a <th> tag with the key inside of it, this will be
                our header row -->
                <th>{{ key }}</th>

                <!-- End of this for loop -->
                {% endfor %}
                <th>Edit</td>
                <th>Delete</td>
            </tr>
            <tbody>
            {% for item in data %}
            <tr>
                <td>{{item['ID']}}</td>
                <td>{{item['ISBN']}}</td>
                <td>{{item['Title']}}</td>
                <td>{{item['OID']}}</td>
                <td>{{item['Order Quantity']}}</td>
                <td>{{item['Unit Price']}}</td>
                <td>{{item['LineTotal']}}</td>
                <td><a href= "/edit-orderdetails/{{ item['ID'] }}" class="button edit-btn">Edit</a></td>
                <td><a href = "/delete-orderdetails/{{item['ID']}}" class="button delete-btn">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    <p>&nbsp;<p>
    <form method="POST" id="addOrderDetails" action="/create-order-details">
        <legend><strong>Add New Order Details</strong></legend>
            <fieldset class="fields">
                <label> Book ISBN </label><select name="BookISBN">
                    <option value="0">&nbsp;</option>
                    {% for item in titles %}
                    <option value={{item['ISBN']}}>{{item['Title']}}</option>
                    {% endfor %}
                </select>
                <label> Order ID and Date </label><select name="OrderID">
                    <option value="0">&nbsp;</option>
                    {% for item in oid %}
                    <option value={{item['ID']}}>{{item['ID']}}. {{item['Date'].year}}.{{item['Date'].month}}.{{item['Date'].day}}</option>
                    {% endfor %}
                </select>
                <label for="OrderQty"> Order Qty </label><input type="number" name="OrderQty">
            </fieldset>
                <input class="btn" type="submit" id="addOrderDetails" value="Add Order Details">
        </form>
</main>
</body>
<footer>
    <p>
    &copy; William Chen and Patrick Kim 2024
    </p>
</footer>
</html>