<table>
    <thread>
    <tr>
        <th>Book ISBN</th>
        <th>Order ID</th>
        <th>Order Quantity</th>
        <th>Unit Price</th>
        <th>Line Total</th>
    </tr>
    <tbody>
    {% for item in order_details %}
    <tr>
        <td>{{item['BookISBN']}}</td>
        <td>{{item['OID']}}</td>
        <td>{{item['OrderQty']}}</td>
        <td>{{item['UnitPrice']}}</td>
        <td>{{item['LineTotal']}}</td>
    </tr>
    {% endfor %}
</table>
