<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Publishing List
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<main>
    <h1>Publisher Page</h1>
    <p>This is the Publisher's page that shows the publishers' ID, company, and year founded.</p>
    <h2>Navigation</h2>
    <p>[ <a href="/">Homepage</a> | 
    <a href="/books">Book Collection</a> | 
    <a href="/publishers">Publishers</a> | 
    <a href="/authors">Authors</a> | 
    <a href="/customers">Customers</a> | 
    <a href="/orders">Orders</a> | 
    <a href="/orderdetails">Orders Details</a> ]</p>
    <div id="Publishers">
        <table border="1" cellpadding="5"> 
            <caption> Publishers: </caption>
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>
                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        <p>&nbsp;</p>
        <div id="insert">
            <form method="POST" id="addPublisher">
                <legend><strong>Add New Publisher</strong></legend>
                    <fieldset class="fields">
                        <label> Company </label><input type="text" name="Company">
                        <br>
                        <label> Year Founded </label><input type="text" name="Year">
                    </fieldset>
                        <input class="btn" type="submit" id="addPublisher" value="Add Publisher">
                        <input class="btn" type="button" value="cancel" onClick="browsePublishers()">
            </form>
        </div>
    </div>
</main>
</html>